html{
    height: 100%;
}

body{
    background: url(Imagenes/Imagenfondo.png) no-repeat fixed center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

#FT{
    margin-top: auto;
}

.c1{
    color: white;
}

.row{
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar-brand img{
    height: 70px;
    align-items: center;
}

.navbar{
    background-color:darkmagenta;
}

.A{
    color: white;
}

.nav-link{
    color: white;
}

#K{
    background-color: darkmagenta;
}

#PreLogo img{
    width: 80px;
    height: 80px;
    margin: 0px 50px;
    display: flex;
}

.c2{
    color: white;
}

#Fb{
    color: blue;
}

#Ig{
    color: darkorange;
}

#Yt{
    color: red;
}

.slick-slide img {
    max-width: 10px;
    height: auto;
    display: block;
}

.slider img {
    max-width: 100%;
    height: auto;
    display: block;
}

.slider {
    margin: 0 auto;
    width: 80%;
    max-width: 1200px;
}

.slick-prev:after {
    display: none;
}

.slick-next:after {
    display: none;
}

.slick-prev {
    left: -60px;
    z-index: 1;
    padding: 10px 20px;
    background-color: darkmagenta;
    border: 2px solid #fff;
    font-size: 24px;
    color: #fff;
    content: "Anterior";
    margin: 0 10px 0 0;
}

.slick-next {
    right: -60px;
    z-index: 1;
    padding: 10px 20px;
    background-color: darkmagenta;
    border: 2px solid #fff;
    font-size: 24px;
    color: #fff;
    content: "Siguiente";
    margin: 0 0 0 10px;
}

.container{
    background-color: darkmagenta;
    border: white;
}

.SN{
    color: white;
}